header{
  background-color: #F5F5F5;
}

.gray-background {
  background-color: #F5F5F5;
  height: 40px;
}

.ui.menu .active.item:hover
.ui.vertical.menu .active.item:hover
{

}

.ui.menu .active.item{
  font-weight:normal;
  box-shadow:none;
}

.ui.menu{
  background-color: #F5F5F5;
  padding-left: 30px;
  padding-right: 40px;
}

