.gray-background {
  background-color: #F4F6F5;
  height: 40px;
}

.ui.menu .active.item:hover
.ui.vertical.menu .active.item:hover
{

}

.ui.menu .active.item{
  font-weight:normal;
  box-shadow:none;
}